
$primary: #58508F !default;
$secondary:	#847ABF !default;
$tertiary: #C3C2F2 !default;
$quaternary: #D6D5F2 !default;
$quinary: #F2F2DD !default;


//BACKGROUND

$background-main: #FFFFFF !default;
// $background-1: #FCFCFC !default;
// $background-2: #F8F7F7 !default;
// $background-3: #181818 !default;
// $background-menu: #B50C43 !default;

//TEXTS

$text-main: #181818 !default;
$text-secondary: #FFFFFF !default;
// $text-variant-1: #666666 !default;
// $text-variant-3 : #FFFFFF !default;

//ICONS
// $icon-variant-1: #666666 !default;
// $icon-variant-2: #FFFFFF !default;
// $icon-variant-3: #181818 !default;
// $icon-variant-4: #FFD3DB !default;
// $icon-variant-5: #E5E5E5 !default;
// $icon-ecologic-red: #D04900 !default;
// $icon-ecologic-brown: #B38900 !default;
// $icon-ecologic-green: #297570 !default;
// $icon-decoration-1: #3EB3AB !default;

//STATES

// $disable: #FFD3DB !default;
// $error: #D04900 !default;
// $correct: #297570 !default;
// $info: #1C3FBF !default;
// $background-error: #FFE2CB !default;
// $background-correct: #DFFEFC !default;
// $background-warning: #FFF9C4 !default;
// $background-info: #DAE2FF !default;
// $disable-form: #F8F7F7 !default;



