<!-- <header>
  <h1> Feminismo en las personas sordas</h1>
    <div>Un espacio seguro para todes</div>
</header> -->

<div class="header bg-cover text-white">
  <div class="container py-5 text-center">
      <h1 class="display-4 font-weight-bold">Feminismo en las personas sordas</h1>
      <p class="font-italic mb-0">Un espacio seguro para todes</p>
      <p class="font-italic">Escrito por
          <a class="text-white">
              <u>Mujeres sordas</u>
          </a>
      </p>
      <!-- <a href="#" role="button" class="btn btn-primary px-5">See All Features</a> -->
  </div>
</div>

<section class="container mt-5">

  <a routerLink="/historia">
    <app-card [titulo]="'Historia'">
      <div class="image" id="historia"></div>
    </app-card>
  </a>
  <a routerLink="/conceptos">
    <app-card [titulo]="'Conceptos'">
      <div class="image" id="conceptos"></div>
    </app-card>
  </a>
  <a routerLink="/violencia">
    <app-card [titulo]="'Violencia'">
      <div class="image" id="violencia"></div>
    </app-card></a>
  <a routerLink="/recursos-y-materiales">
    <app-card [titulo]="'Recursos y materiales'">
      <div class="image" id="recursos"></div>
    </app-card></a>
  <a routerLink="/encuentros-feministas">
    <app-card [titulo]="'Encuentros feministas'">
      <div class="image" id="encuentros"></div>
    </app-card></a>
  <a routerLink="/proyectos"><app-card [titulo]="'Proyectos'">
      <div class="image" id="proyectos"></div>
    </app-card></a>
</section>
