@import "./../../../styles/variables/colors.scss";

.card {
  border-radius: 1rem;
  background-color: $background-main;
  height: 35vh;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  position: relative;

  .titulo {
    font-family: Roboto;
    font-weight: 400;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
  }
}

.float {
  transition: 0.5s, color 0.1s;
  -webkit-transition: 0.5s, color 0.1s;
  -moz-transition: 0.5s, color 0.1s;
}
.float:hover {
  box-shadow: 0 8px 8px 0 gray, 0 8px 8px 0 lightgray;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  -moz-transform: translate(0px, 5px);
}

// https://github.com/argyleink/transition.css#custom
@keyframes wipe-in-right {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:right"] {
  animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) wipe-in-right both;
}
