@import "./../../../styles/variables/colors.scss";

.card {
  border-radius: 1rem;
  background-color: $background-main;
  height: 35vh;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  position: relative;
  border: none;

  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.08);

  &:active {
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.08);
  }
  &:hover {
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.24);
  }

  .titulo {
    font-family: Lato;
    font-weight: 400;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
  }
}
