@import "./../styles.scss";

header {
  background: linear-gradient(to bottom, $secondary, $quaternary);

  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 3;
  opacity: 1;

  border-radius: 0px 0px 20px 20px;

  h1 {
    margin: 0;
    padding: 1rem;
    font-size: 42px;
    font-weight: 900;
  }
}

nav {
  display: flex;
  flex-direction: row;
}

.body {
  display: flex;
}

aside {
  width: 25%;
  height: 90vh;
  background-color: $quaternary;
}

main {
  width: 100%;
  overflow-y: hidden;
  background-color: $background-main;
}

.footer {
  height: 2rem;
}
