<nav>
  <ul>
    <li><a class="button" routerLink="/">Principal</a></li>
    <li><a class="button" routerLink="/history">Historia</a></li>
    <li><a class="button" routerLink="/concepts">Conceptos</a></li>
    <li><a class="button" routerLink="/violence">Violencia</a></li>
    <li><a class="button" routerLink="/resources">Recursos y materiales</a></li>
    <li><a class="button" routerLink="/feminism-meetings">Encuentros feministas</a></li>
    <li><a class="button" routerLink="/projects">Proyectos</a></li>
  </ul>
</nav>
